* {
    -fx-text-fill: #ecf0f1;
    -fx-font-family: "Tahoma", "Comic Sans MS";
    -fx-background-color: #34495e;

}
* .scroll-bar{
    -fx-background-color: #34495e;

}
* .scroll-bar:horizontal .track,
* .scroll-bar:vertical .track{
    -fx-background-color: #2c3e50;

}

Button {
    -fx-font-family: "Comic Sans MS";
    -fx-background-color: #2c3e50;
    -fx-background-radius: 0;

}
Text{
    -fx-fill: #ecf0f1;
    -fx-text-fill: #ecf0f1;
    -fx-font-family: "Tahoma", "Comic Sans MS";
}

VBox {

}

ListView {
    -fx-border-color: #2c3e50;

}


.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

ListView :even {
    -fx-background-color: #34495e;

}

ListView :odd {
    -fx-background-color: #2c3e50;

}

Pane {
    -fx-background-color: #207BCF;
}

ScrollPane {

}

Label {

}

FlowPane {

}

AnchorPane {

}


TextField {
    -fx-border-color: #2c3e50;
    -fx-border-width: 0 0 2 0;
    -fx-background-color: transparent;
}

TextField:focused {
    -fx-border-color: purple;
}

.Chat-Name-Pane {
    -fx-background-color: #2c3e50;
}

.Chat-Name-Label {
    -fx-background-color: transparent;
    -fx-font-size: 16;
}
*:even:selected {
    -fx-background-color: #9b59b6;

    -fx-text-fill: #130F0E;

}
*:odd:selected {
    -fx-background-color: #8e44ad;
    -fx-text-fill: #130F0E;

}

ScrollPane{

.Chat-MessagesVBox {

}

.Chat-Message-Container {
    -fx-background-color: purple;
}

.Chat-Message {
    -fx-font-size: 14;
}

.Chat-Moment {
    -fx-font-size: 10;
}

#btBack {
    -fx-background-color: transparent;
    -fx-font-size: 24;
}

#username, #role {
    -fx-font-size: 20;
}
