* {
    -fx-text-fill: #ecf0f1;
    -fx-font-family: "Tahoma", "Comic Sans MS";
    -fx-background-color: #34495e;
}

Button {
    -fx-font-family: "Comic Sans MS";
    -fx-background-color: #2c3e50;
    -fx-background-radius: 0;

}

VBox {

}

ListView {
    -fx-border-color: #2c3e50;
}


.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

ListView :even {
    -fx-background-color: #34495e;

}

ListView :odd {
    -fx-background-color: #2c3e50;

}

ScrollPane {

}

Label {

}

FlowPane {

}

AnchorPane {

}


TextField {
    -fx-border-color: #2c3e50;
    -fx-border-width: 0 0 2 0;
    -fx-background-color: transparent;
}

TextField:focused {
    -fx-border-color: purple;
}

.Chat-Name-Pane {
    -fx-background-color: #2c3e50;
}

.Chat-Name-Label {
    -fx-background-color: transparent;
    -fx-font-size: 16;
}

.Chat-MessagesVBox {

}

.Chat-Message-Container {
    -fx-background-color: purple;
    -fx-start-margin: 45;
    -fx-end-margin: 45;
    -fx-padding:  3 0 3 0;
    -fx-border-radius: 5px;
    -fx-pref-width: 200px;
    -fx-min-width: 200px;
    -fx-max-width: 90%;
}

.Chat-Message-Container-Left {
    -fx-text-alignment: left;
}

.Chat-Message-Container-Right {
    -fx-text-alignment: right;
}

.Chat-Message {
    -fx-font-size: 14;
}

.Chat-Moment {
    -fx-font-size: 10;
}